# Node
frontend/course-mgmt-sys-AU/node_modules

#Coverage
frontend/course-mgmt-sys-AU/coverage

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

#Metadata
backend/.metadata