<app-header-nav></app-header-nav>
<section style="margin-left: 20px; margin-right:20px" >
    <h3 class="ui header">
        <i aria-hidden="true" class="edit outline icon"></i>
        <div class="content">
          Edit Courses
        <div class="sub header" *ngIf="user">
            List of all courses created by {{user.firstName}} {{user.lastName}}</div>
        </div>
    </h3>
    <div>
        <table class="ui celled table">
            <thead class="ui celled inverted blue table">
              <tr class="">
                <th class="">Course ID</th>
                <th class="">Course Title</th>
                <th class="">Last Updated</th>
                <th class="">Course Status</th>
                <th class="">Actions</th>
              </tr>
            </thead>
            <tbody class="">
                <tr class="" *ngFor="let course of courseList">
                    <td class="" *ngIf="user && course.creatorId == user.id">{{course.courseId}}</td>
                    <td class="" *ngIf="user && course.creatorId == user.id">{{course.courseTitle}}</td>
                    <td class="" *ngIf="user && course.creatorId == user.id">{{course.lastUpdated}}</td>
                    <td class="" *ngIf="user && course.creatorId == user.id && course.isCourseActive">
                        <span style="color:greenyellow; font-weight: bold;">ACTIVE</span>
                    </td>
                    <td class="" *ngIf="user && course.creatorId == user.id && !course.isCourseActive">
                        <span style="color:red; font-weight: bold;">INACTIVE</span>
                    </td>
                    <!-- Actions -->
                    <td class ="" *ngIf="user && course.creatorId == user.id">
                        <!-- Update -->
                        <button class="ui vertical animated primary button" routerLink="/edit-courses/update/{{course.courseId}}">
                            <div class="hidden content">Update</div>
                            <div class="visible content"><i aria-hidden="true" class="pencil icon"></i></div>
                        </button>
                        <!-- Toggle course status -->
                        <button class="ui vertical animated primary button" (click)="handleStatusUpdate(course.courseId, course.isCourseActive)" >
                            <div class="hidden content">Status</div>
                            <div class="visible content">
                                <i aria-hidden="true" class="toggle on icon" *ngIf="course.isCourseActive"></i>
                                <i aria-hidden="true" class="toggle off icon" *ngIf="!course.isCourseActive"></i>
                            </div>
                        </button>
                        <!-- Delete course -->
                        <button class="ui vertical animated primary button" (click)="handleCourseDeletion(course.courseId)">
                            <div class="hidden content">Delete</div>
                            <div class="visible content"><i aria-hidden="true" class="delete icon"></i></div>
                        </button>
                        <!-- View participant -->
                        <button class="ui vertical animated primary button" routerLink="/courses/{{course.courseId}}/participant-list">
                            <div class="hidden content">View</div>
                            <div class="visible content"><i aria-hidden="true" class="user icon"></i></div>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <!--Success Message for Deletion-->
        <div class="ui positive message" *ngIf="successDel">
            <div class="header">Course Deleted Successfully!!!</div>
            <p>The course is no longer part of the Accolite University training curriculum. Refreshing ...</p>
        </div>
        <!--Success Message for status update-->
        <div class="ui positive message" *ngIf="successStatus">
            <div class="header">Course Status Updated Successfully!!!</div>
            <p>Refreshing ...</p>
        </div>
    </div>
</section>
